<% layout('layout/basic') %>
    <a href="campgrounds/new">add new ones!</a>
    <ul>
        <% for(let campground of campgrounds) { %>
            <li>
                <%= campground.title %> <a href="/campgrounds/<%= campground.id %>">details</a>
                    <form action="/campgrounds/<%= campground.id %>?_method=DELETE" method="post">
                        <button>delete</button>
                    </form>
            </li>
            <% } %>
    </ul>
