<% layout('layout/basic') %>
    <ul>
        <li>Title : <%= campground.title %>
        </li>
        <li>location : <%= campground.location %>
        </li>
    </ul>
    <a href="/campgrounds/<%=campground.id%>/edit">Edit</a>
    <a href="/campgrounds">back</a>
    <a href="/">back to home</a>
