<% layout('layout/basic') %>
    <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" name="title" id="title" value="<%= campground.title %>">
        </div>

        <div>
            <label for="location">Location</label>
            <input type="text" name="location" id="location" value="<%= campground.location %>">
        </div>
        <button>Create</button>
    </form>
